@font-face {
	font-family: "HelveticaNeueLTPro";
	src: url("./fonts/HelveticaNeueLTPro-Ex.eot");
	src:
	url("./fonts/HelveticaNeueLTPro-Ex.woff") format("woff"),
	url("./fonts/HelveticaNeueLTPro-Ex.woff2") format("woff2"),
	url("./fonts/HelveticaNeueLTPro-Ex.ttf") format("truetype"),
	url("./fonts/HelveticaNeueLTPro-Ex.svg#font") format("svg");
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
  font-family: 'HelveticaNeueLTPro', 'Helvetica Neue', -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font.bold {
	font-weight: 700;
}
